@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    display: grid;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    background-color: #080808;
}

h1 {
    text-align: center;
    font-size: 95px;
    color: #fff;
    transition: 0.3s;
    margin-bottom: 50px;
}

h1:hover {
    color: #fbffc4;
    margin-bottom: 53px;
}